*,*:after,*:before{transition:none!important;}
[class*="App_appChannelPage"]{min-width:100%!important;}
[class*="OptimizedChannelsItem_name"]{line-height:18px!important;}

[class*="CollapsibleLink_root"],
[class*="Controls_collapsibleLink"]{
  overflow:hidden!important;
  min-width:48px!important;}

[class*="CollapsibleLink_icon"]{min-width:28px!important;}